// .article-metadata {
//     margin-bottom: 15px;
//     overflow: hidden;
//     font-size: 14px;
//     letter-spacing: 0.03em;
//     color: rgba(0, 0, 0, 0.54);
  
//     a {
//       color: rgba(0, 0, 0, 0.54);
//     }
  
//     a:hover {
//       color: $sta-primary;
//     }
  
//     .author-notes {
//       cursor: help;
//       padding-left: 3px;
//     }

//   }

body {
    color: rgb(71, 70, 70);
}

// 设置标题1的颜色、字体大小和字体加粗
h1 {
    color: rgb(71, 70, 70);
    font-size: 1.5rem;
    font-weight: bold;
}

// 设置标题2的颜色和字体大小
h2 {
    color: rgb(71, 70, 70);
    font-size: 1.2rem;
}

// 设置标题3的颜色
h3 {
    color: rgb(71, 70, 70);
}

// 设置标题4的颜色
h4 {
    color: rgb(71, 70, 70);
}

// 设置标题5的颜色
h5 {
    color: rgb(71, 70, 70);
}

// 设置标题6的颜色
h6 {
    color: rgb(71, 70, 70);
}

// 设置文章标题类".section-subheading.article-title.mb-1.mt-3"的颜色
.section-subheading.article-title.mb-1.mt-3 {
    color: rgb(71, 70, 70);
}


:root {
  --color-primary-50: 0 0 244;
  --color-primary-100: 0 0 231;
  --color-primary-200: 0 0 208;
  --color-primary-300: 0 0 172;
  --color-primary-400: 0 0 128;
  --color-primary-500: 0 0 94;
  --color-primary-600: 0 0 74;
  --color-primary-700: 0 0 61;
  --color-primary-800: 0 0 52;
  --color-primary-900: 0 0 45;
  --color-primary-950: 0 0 22;
}

.author-highlighted{
font-weight: bold;
font-style: italic;
text-decoration: underline;
}

.avatar {
    width: 400px;
    height: 400px;
  }

.portrait-title h2 {
font-size: 1.5rem;
}
