// .article-metadata {
//     margin-bottom: 15px;
//     overflow: hidden;
//     font-size: 14px;
//     letter-spacing: 0.03em;
//     color: rgba(0, 0, 0, 0.54);
  
//     a {
//       color: rgba(0, 0, 0, 0.54);
//     }
  
//     a:hover {
//       color: $sta-primary;
//     }
  
//     .author-notes {
//       cursor: help;
//       padding-left: 3px;
//     }

//   }



:root {
  --color-primary-50: 0 0 244;
  --color-primary-100: 0 0 231;
  --color-primary-200: 0 0 208;
  --color-primary-300: 0 0 172;
  --color-primary-400: 0 0 128;
  --color-primary-500: 0 0 94;
  --color-primary-600: 0 0 74;
  --color-primary-700: 0 0 61;
  --color-primary-800: 0 0 52;
  --color-primary-900: 0 0 45;
  --color-primary-950: 0 0 22;
}

.author-highlighted{
font-weight: bold;
font-style: italic;
text-decoration: underline;
}

.avatar {
    width: 400px;
    height: 400px;
  }

.portrait-title h2 {
font-size: 1.5rem;
}
